backendjs/node_modules
backendjs/.env
backendphp/vendor                                                                                                                                                                                                                                                                                                                                                                                           
backendphp/.env                                                                                                                                                                                         
app/.env
