backendjs/node_modules
backendjs/.env                                                                                                                                                                                                                                                                                                                                                                                              
backendphp/.env                                                                                                                                                                                         
app/.env